<% include head %>
  <div class = "container">
    <h1>Albums</h1>
      <div class="artist_match">
        <form action='/albums/new' method='POST'>
          <div>
            <label for="album-name">Name of Album:</label>
            <input type="text" name="album" placeholder="Album">
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
      </tbody>
    </table>
    </div>
<% include foot %>