<% include head %>
<div class = "container">
    <h1>Artists</h1>
      <form action="/artists" method="POST">
        Name: <input name="name" type="text" placeholder="Name">
        Genre:<input name="genre" type="text" placeholder="Genre">
        Bio:<input name="bio" type="text" placeholder="Type a brief Bio">
        Wiki:<input name="wiki" type="text" placeholder="Paste Wiki Link">    
      <input type="submit" value="Save Artist">
    </form>
    <form action="/artists/search" method= "GET">
      <div class="form-group">
          <label for="name">Artist Name:</label>
          <input name="name" type="text">
          <button type="submit" class="btn_search">Search</button>
        </div>
      </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Genre</th>
          <th>Bio</th>
          <th>Wiki Link</th>
        </tr>
      </thead>
      <tbody>
        <% artists.forEach(function (artist) { %>
          <tr>
            <td><%= artist.name %></td>
            <td><%= artist.genre %></td>
            <td><%= artist.bio %></td>
            <td><%= artist.wiki %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% include foot %>