<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title> Node Tunes</title>
  <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
	<header>
		  <div class="container">
		  <a href="/">Home</a>
	    <a href="/artists">Artists</a>
		  <a href="/albums">Albums</a>
	  </div>
	</header>