<!DOCTYPE html>
<html>
  <head>
    <title> Node Tunes!! </title>
  </head>
  <body>
  	<% include head %>
  		<h1>Node Tunes</h1>
    	<p>Tunes library written in Node.</p>
   	</div>
  </body>
</html>