<!DOCTYPE html>
<html>
  <head>
    <title> Node Tunes!! </title>
  </head>
    <h1>Node Tunes</h1>
  <body>
    <p>Tunes library written in Node.</p>
    <a href="/artists">Artists</a>
    <a href="/albums">Albums</a>
  </body>
</html>